body {
    height: 100vh;
    text-align: center;
}

body h1 {
    margin: 5px;
}

#content-container {
    display: grid;
    grid-template:
        "game-container" 1fr
        "right-side-container" 1fr;
}

#game-container {
    width: 400px;
    min-height: 400px;
    box-sizing: content-box;
    text-align: center;
    margin: 0 auto;
}

#game-button-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 5px;
}

#button-number-select,
#level-select {
    margin: 5px;
}

h3 {
    margin: 10px;
}

.right-side-container {
    display: flex;
    justify-content: space-around;
}

#results-container {
    min-width: 180px;
    padding-top: 20px;
}

.game-button {
    color: black;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-width: 2px;
    border-radius: 50%;
    margin-top: 5px;
    box-sizing: border-box;
}

.game-button:focus {
    animation-name: flash-button;
    animation-duration: 500ms;
}
.game-button:disabled {
    color: grey;
}

@keyframes flash-button {
    0% {
        background-color: red;
        border-color: palevioletred;
    }
    100% {
        background-color: lightpink;
        border-color: palevioletred;
    }
}

@media only screen and (orientation: landscape) and (max-device-width: 630px) {
    body {
        transform: rotate(90deg);
    }
}

@media only screen and (min-width: 1000px) {
    #content-container {
        display: grid;
        grid-template: "game-container right-side-container" 1fr / 2fr 1fr;
    }

    .right-side-container {
        padding: 0 0 0 20px;
        flex-direction: column;
    }
}

@media only screen and (min-width: 630px) {
    #game-container {
        width: 600px;
        min-height: 600px;
    }
}
